html,
body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #23252c;
  font-family: inter, sans-serif;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
}

.container {
  height: 100%;
  width: 350px;
  background-color: #1a1b21;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #161619;
}

footer > a {
  margin: 0 10px;
}

.photo {
  text-align: center;
}

.photo > img {
  border-radius: 10px;
  width: 350px;
}

.name-div {
  text-align: center;
}

.name-user {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 25px;
}

.name-occupation {
  color: #f3bf99;
  font-size: 19px;
  margin: 0;
}

#email-btn {
  background-color: #ffffff;
  padding: 10px 25px;
  font-family: inter, sans-serif;
  border-radius: 10px;
  font-size: 17px;
  margin: 10px 5px;
  border: none;
  cursor: pointer;
}

#email-btn > img {
  margin-right: 5px;
}

#linkedin-btn {
  background-color: #5093e2;
  color: #ffffff;
  padding: 10px 20px;
  font-family: inter, sans-serif;
  border-radius: 10px;
  font-size: 17px;
  margin: 10px 5px;
  height: 40px;
  border: none;
  cursor: pointer;
}

#linkedin-btn > img {
  margin-right: 5px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.main {
  flex: 1;
  padding: 30px 30px;
}

.main-title {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}
