html,
body {
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 302px;
  background-color: #1f2937;
  height: 99%;
  background-image: url("food.png");
  background-size: contain;
  background-blend-mode: luminosity;
}

body {
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

footer {
  color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;
}

label {
  color: #4adf86;
  font-weight: 900;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #4adf86;
  margin-bottom: 4px;
  border-radius: 20px;
}

button {
  background: #10b981;
  color: white;
  padding: 10px 20px;
  border: 1px solid #10b981;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 5px;
}

#input-btn {
  text-shadow: 0 0 2px black;
}

#delete-btn {
  background: #273549;
  color: #10b981;
}

ul {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
}

li {
  margin-top: 5px;
}

a {
  color: #4adf86;
}

#avatar {
  width: 200px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.super-li {
  color: #4adf86;
  background-color: #273549;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px;
  text-transform: capitalize;
}

#ul-el {
  display: flex;
  flex-wrap: wrap;
}

.no-select {
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* For WebKit (Safari/Chrome) */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
}
