body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}
.main-content{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content > div {
    flex: 1;
}

#hero-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    background-image: url("images/torshov-image.png");
    /* Ensure the background image covers the entire div */
    background-size: cover;
    
    /* Center the background image */
    background-position: center;
    
    /* Prevent the background image from repeating */
    background-repeat: no-repeat;

    border-bottom: 1px solid black;

}

.hero-title{
    background-color: #1D3557;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 30px;
    margin: 0 0 10px 0;
}

.hero-subtitle{
    background-color: #457B9D;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 25px;
    width: 37%;
    font-size: 18px;
    margin-top: 0;
    text-shadow: 0 0 3px black;
}

#act-div{
    background-color: #F1FAEE;
    color: #1D3557;
}

.cards-img{
    border-radius: 50%;
    width: 120px;
}

.cards{
    display: flex;
    justify-content: center;
    margin: 30px 40px;
}

.act-card{
    margin:10px;
    width: 30%;
}

.personal-card{
    background-color: #A8DADC;
    width: 500px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    border: 1px solid black;
    border-bottom: 7px solid black;
}
    
.details-card{
    margin: 10px;
}