@font-face {
    font-family: LCD;
    src: url("lcd.14.otf");
}

body {
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.scoreboard{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080001;
    color: #F94F6D;
    font-size: 75px;
    margin: 0 0 25px 0;
    padding: 20px 20px 10px 10px;
    width: 150px;
    height: 150px;
    font-family: LCD;
}

.buttons{
    margin: 0;
}

.score-btn{
    color: #9AABD8;
    border: 1px solid #9AABD8;
    background-color: #1B244A;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-family: LCD;
    border-radius: 7px;
}